# **BUSINESS CASE 3: Recheio Rocommendation System**  


## ðŸŽ“ Masterâ€™s Program in Data Science & Advanced Analytics 
**Nova IMS** | March 2025   
**Course:** Business Cases with Data Science

## ðŸ‘¥ Team **Group A**  
- **Alice Viegas** | 20240572  
- **Bernardo Faria** | 20240579  
- **Dinis Pinto** | 20240612  
- **Daan van Holten** | 20240681
- **Philippe Dutranoit** | 20240518

## ðŸ“Š Project Overview  
This notebook utilizes the following datasets:  
- Case3_Recheio_2025 (1).xlsx <br>
- The goal of the project is to design a recomendation system so that the company can propose better products to existing costumers.

## ðŸ“Š Goal of the notebook

In this notebook we process with the EDA of the data <br>

**Table of Contents** <br>
* [1. Initial Setup and DataLoading](#setup)
* [2. Data Understanding/Preparation](#DU/P)

<hr>
<a class="anchor" id="setup">

 ## 1. Initial Setup and Data Loading
 </a>

In [2]:
#Packages
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Global definitions
baseFolder = os.getcwd()
exportsFolder = baseFolder + os.sep +'Exports' + os.sep

In [4]:
subPlots_Title_fontSize = 12
subPlots_xAxis_fontSize = 10
subPlots_yAxis_fontSize = 10
subPlots_label_fontSize = 10
heatmaps_text_fontSize = 8

plots_Title_fontSize = 14
plots_Title_textColour = 'black'

plots_Legend_fontSize = 12
plots_Legend_textColour = 'black'

plots_barTexts_fontSize = 8

Loading the data:

In [5]:
clients = pd.read_excel('../Data/Case3_Recheio_2025 (1).xlsx', sheet_name='1. CLIENTS', usecols='B:D', skiprows=1)
products = pd.read_excel('../Data/Case3_Recheio_2025 (1).xlsx', sheet_name='2. PRODUCTS', usecols='B:D', skiprows=1)
transactions = pd.read_excel('../Data/Case3_Recheio_2025 (1).xlsx', sheet_name='3. TRANSACTIONS', usecols='B:D', skiprows=1)

<hr>
<a class="anchor" id="DU/P">

## 2. Data Understanding/Preparation
</a>

## **Clients**

In [10]:
clients.head()

   Client ID  ZIP Code ID Client Type
0  210100002      4049            NaN
1  210100003      4000            NaN
2  210100004      4149            NaN
3  210100005      4100      Hotelaria
4  210100006      4405            NaN

In [11]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6462 entries, 0 to 6461
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Client ID       6462 non-null   int64
 1   ZIP Code        6462 non-null   int64
 2   ID Client Type  680 non-null    object
dtypes: int64(2), object(1)
memory usage: 151.6+ KB

In [13]:
clients.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Client ID,6462.0,NaN,NaN,NaN,210103526.874807,5023.309391,210100002.0,210101651.25,210103331.5,210104959.75,210199949.0
ZIP Code,6462.0,NaN,NaN,NaN,4176.482049,760.43223,0.0,4050.0,4400.0,4470.0,9950.0
ID Client Type,680,26,Hotelaria,231,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(clients.duplicated().sum())
print(clients['Client ID'].duplicated().sum())

0
0

In [39]:
clients[clients['ZIP Code'].apply(lambda x: len(str(x)) != 4)].T

,73,74,330,331,332,335,336,432,690,691,...,2511,2551,2553,2557,2570,2611,2778,3033,3034,5552
Client ID,210100078,210100079,210100335,210100336,210100337,210100340,210100341,210100438,210100707,210100708,...,210102577,210102618,210102620,210102624,210102639,210102682,210102868,210103134,210103135,210105679
ZIP Code,0,0,0,0,0,0,0,0,3,1,...,0,0,0,0,0,0,0,0,0,0
ID Client Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
invalid_clients = clients[clients['ZIP Code'].apply(lambda x: len(str(x)) != 4)]['Client ID'].tolist()

In [14]:
clients['ID Client Type'].value_counts()

ID Client Type
Hotelaria                                    231
Coletiva/InstituiÃ§Ã£o/Cantina                 139
Restaurante - Cozinha Portuguesa             135
CafÃ©/Pastelaria                               57
Catering                                      34
Bar/Discoteca                                 15
Restaurante - Cervejaria                      10
Restaurante - JaponÃªs                         10
Restaurante - Churrasqueira                    8
Retail Outros                                  7
Padaria/Pastelaria                             7
Restaurante - ChinÃªs                           4
Restaurante - Tapas & Petiscos                 4
Restaurante - Outra Cozinha Internacional      3
Restaurante - Steak House                      2
Frutaria                                       2
Restaurante - Italiano                         2
Restaurante - Marisqueira                      2
Restaurante - RodÃƒÂ­zio                         1
Mercearia                                      1
Garrafeira                                     1
Restaurante - Cozinha de Autor                 1
Restaurante - RodÃ­zio                          1
Restaurante - Brasileiro                       1
Restaurante - Mexicano                         1
Restaurante - Vegetariano                      1
Name: count, dtype: int64

### Insights 

- No duplicate clients

- ZIP code has some invalid numbers. In Portugal all zip codes should have 4 digits, but in some cases (38) the ZIP code is either 0, 1, or 3. None of these clients have a Client Type associated. If they have no transactions associated, they may be removed.

- ID Client has a lot of missing values (around 90%). This will need to be addressed. Additionally,  one client has the client type "Restaurante -  RodÃ£zio" associated. This is likely a typo, so it needs to be replaced by "Restaurante - RodÃ­zio".

## **Products**

In [30]:
products.head()

   ID Product                 Product Description ID Product Category
0      224780  FARINHA ESPIGA AMIDO MILHO LUS.2KG            FARINHAS
1      276806            LARANJA CAL7 (67/76) RCH      FRUTAS FRESCAS
2      276809                   LIMAO CAL 3/4 RCH      FRUTAS FRESCAS
3      277674           COGUMELO BRANCO MÃ‰DIO RCH     LEGUMES FRESCOS
4      277917            TOMATE BB 67/82 1CAM RCH     LEGUMES FRESCOS

In [31]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4583 entries, 0 to 4582
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID Product           4583 non-null   int64
 1   Product Description  4583 non-null   object
 2   ID Product Category  4583 non-null   object
dtypes: int64(1), object(2)
memory usage: 107.5+ KB

In [33]:
products.describe(include='object').T

                    count unique                              top freq
Product Description  4583   4573  CABO ESFREGONA VILEDA SUPER 1UN    2
ID Product Category  4583    268                    VINHOS TINTOS  175

In [32]:
print(products.duplicated().sum())
print(products['ID Product'].duplicated().sum())

0
0

In [34]:
products[products['Product Description'].duplicated(keep=False)].sort_values('Product Description')

,ID Product,Product Description,ID Product Category
4018,975734,AREIAS DE MANTEIGA 300 G,BOLACHAS
3779,814295,AREIAS DE MANTEIGA 300 G,BOLACHAS
2883,946293,CABO ESFREGONA VILEDA SUPER 1UN,ACESSÃ“RIOS LIMPEZA GERAL
4044,969528,CABO ESFREGONA VILEDA SUPER 1UN,ACESSÃ“RIOS LIMPEZA GERAL
329,923162,CREME VEGETAL MCHEF KG,CREMES VEGETAIS
3590,973849,CREME VEGETAL MCHEF KG,CREMES VEGETAIS
1382,714976,DIP POT MOLHO ALHO HEINZ 100X 25GR,MOLHOS
4319,981288,DIP POT MOLHO ALHO HEINZ 100X 25GR,MOLHOS
2466,965058,"FEIJÃƒO PRETO CISTER BOLSA 3/1,8 KG",CONSERVAS VEGETAIS
2854,957861,"FEIJÃƒO PRETO CISTER BOLSA 3/1,8 KG",CONSERVAS VEGETAIS
1416,13545,MISTURA SOLÃšVEL MOKAMBO 200G,CAFÃ‰S E MISTURAS
3655,974730,MISTURA SOLÃšVEL MOKAMBO 200G,CAFÃ‰S E MISTURAS
4417,597501,PHILADELPHIA REGULAR 2KG,QUEIJOS PARA BARRAR
4470,983302,PHILADELPHIA REGULAR 2KG,QUEIJOS PARA BARRAR
4285,981970,TAB CHOC LEITE TOBLERONE 35G,CHOCOLATE
1492,103911,TAB CHOC LEITE TOBLERONE 35G,CHOCOLATE
1676,942002,V DOURO MONTES ERMOS COLHEITA TTO 75CL,VINHOS TINTOS
3359,799703,V DOURO MONTES ERMOS COLHEITA TTO 75CL,VINHOS TINTOS
2980,460163,V.DOURO CALLABRIGA TTO 75CL,VINHOS TINTOS
4439,918308,V.DOURO CALLABRIGA TTO 75CL,VINHOS TINTOS

### Insights 

- No duplicate rows or product IDs. However, in some cases (10), different product IDs have the same Product Description and ID Product Category. These are duplicate entries, so this will need to be addressed.

## **Transactions**

In [35]:
transactions.head()

        Date  Client ID  ID Product
0 2022-01-02  210100281      224780
1 2022-01-02  210100281      276806
2 2022-01-02  210100281      276809
3 2022-01-02  210100281      277674
4 2022-01-02  210100281      277917

In [36]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884099 entries, 0 to 884098
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Date        884099 non-null  datetime64[ns]
 1   Client ID   884099 non-null  int64
 2   ID Product  884099 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 20.2 MB

In [37]:
transactions[transactions.duplicated()]

             Date  Client ID  ID Product
104615 2022-03-01  210100804      904364
105040 2022-03-01  210102196      521205
105329 2022-03-01  210103577      931201
105452 2022-03-01  210103706      935622
106122 2022-03-01  210104607      372332
106311 2022-03-01  210105057      621958
107265 2022-03-01  210105808      906995
107505 2022-03-01  210105969      701988
107508 2022-03-01  210105969      931201

In [43]:
transactions[transactions['Client ID'].isin(invalid_clients)]

Empty DataFrame
Columns: [Date, Client ID, ID Product]
Index: []

### Insights 

- There are some duplicates. This likely corresponds to the same client purchasing the same product twice in the same day. As such, we will keep these rows

- The clients with invalid ZIP codes have no transactions associated. As such, they may be removed.

In [61]:
x = clients['Client ID'].tolist()

missing_clients = [client for client in x if client not in transactions['Client ID'].values]

clients[clients['Client ID'].isin(missing_clients)]['ID Client Type']

# 4933 clients have no transactions associated

0                        NaN
1                        NaN
2                        NaN
4                        NaN
5                        NaN
                ...
6442               Hotelaria
6443                Catering
6444               Hotelaria
6445               Hotelaria
6446    Restaurante - ChinÃªs
Name: ID Client Type, Length: 4933, dtype: object